<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <nav>
    <div class="b1">
      <img
        src="https://banglarshiksha.gov.in/assets/frontend/images/logo_bangali.png"
        alt=""
      />
    </div>
    <div class="b2">
      <img
        src="https://banglarshiksha.gov.in/assets/frontend/home/images/shikha.png"
        alt=""
      />
    </div>
    <div class="b3">
      <img
        src="https://banglarshiksha.gov.in/assets/frontend/images/education_first.png"
        alt=""
      />
    </div>
  </nav>
  <div class="main">
    <div class="box2">
      <div class="box"><button id="btn">Hob'ble Chief Minister</button></div>
      <div class="box"><button id="btn">Hob'ble pm</button></div>
      <div class="box"><button id="btn">Hob'ble fm</button></div>
      <div class="box"><button id="btn">Hob'ble dm</button></div>
      <div class="box"><button id="btn">Hob'ble fm</button></div>
      <div class="box"><button id="btn">Hob'ble fdm</button></div>
    </div>
    <div class="box1">
      <h1>LOGIN</h1>
      <div class="form">
        <div class="image">
          <img
            src="https://banglarshiksha.gov.in/assets/frontend/images/login_placeholder.jpg"
            alt="user image"
          />
        </div>
        <div class="login">
          <form action="/login" method="post">
          <div class="user_name">
            <input type="text" name="name" placeholder="name">
            <i class="fa fa-user icon"></i>
          </div>
          <div class="password">
            <input type="password" name="password" placeholder="password">
          </div>
          <div class="d1">
            <div class="login">
              <input type="submit">
            </div>
            <div class="signup">
              <a href="/signup">Signup</a>
            </div>
          </form>
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <script src="script.js"></script>

</body>
</html>